/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-dic-2025, 12.52.17
    Author     : Lenovo
*/

.root {
    -green: #4CAF50;
    -dark-green: #45a049;
    -grey: #e0e0e0;
    -light-grey: #f9f9f9;
    -dark-grey: #333;
    -light-blue: #E3F2FD;
    -delete-red: #ffb3b3;
    -cyan: #94a2b3;
    -fx-font-family: 'Segoe UI', sans-serif;
}

.main-container {
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-alignment: CENTER;
}

/* ----- HOME PAGE ----- */


.header-title {
    -fx-padding: 20px 0 20px 0;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    
}

/* Green buttons: create new rule/save */
.success-button {
    -fx-font-size: 18px;
    -fx-background-color: -green; 
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-padding: 10px 20px 10px 20px;
}
.success-button:hover {
    -fx-background-color: -dark-green;
}

.delete-button {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-cursor: hand;
}
.delete-button:hover {
    -fx-background-color: -delete-red;
}

/* ----- TOGGLE SWITCH STYLE ----- */

/* OFF state */
.toggle-switch {
    -fx-background-color: -grey; /* background OFF */
    -fx-text-fill: white; /* text OFF */
    -fx-background-radius: 20; 
    -fx-min-width: 60px;
    -fx-max-width: 60px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 0; 
}

/* on STATE */
.toggle-switch:selected {
    -fx-background-color: -green; /* background ON */
    -fx-text-fill: white; /* text ON */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 2, 0, 0, 1);
}

.toggle-switch:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.toggle-switch:pressed {
    -fx-background-color: derive(-grey, -10%); /* make the color darker of 10% */
}
.toggle-switch:selected:pressed {
    -fx-background-color: derive(-green, -10%);
}

.list-view {
    -fx-background-color: white; 
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
    -fx-max-width: 600px;
}

/* Rule Label style (class assigned in controller)*/
.rule-name-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* Rule cell style 
    we don't need to assign a class to list cell because each JavaFX coponent has an assigned class'
*/
.list-cell:filled {
    -fx-padding: 5px 10px 5px 10px; 
    -fx-background-color: white;
    /*  border only at bottom */
    -fx-border-color: transparent transparent -grey transparent;
}

/* 3D effect on mouse hover*/
.list-cell:filled:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 2);
    -fx-z-index: 1;
    -fx-cursor: hand;    
    -fx-background-color: -light-grey;
}

/* when we select a rule */
.list-cell:filled:selected {
    -fx-background-color: -light-blue;
    -fx-text-fill: black; 
}

/* ----- CREATE RULE PAGE ----- */

/*  back arrow */
.icon-button {
    /* button dimensions */
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;  
    /* image loaded as wallpaper */
    -fx-background-image: url("arrow_back.png");
    -fx-background-size: contain; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 
    -fx-cursor: hand;
}

.icon-button:hover {
    -fx-background-color: -grey;
    -fx-background-radius: 50%;
}

.section-label {
    -fx-font-size: 14px;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-max-width: 500px;
}

.combo-box{   /* Style for selector that use ComboBox */
    -fx-background-color: white;
    -fx-border-color: -grey;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 4 6 4 6;
    -fx-font-size: 14px;
    -fx-text-fill: -dark-grey;
}

/*Begin Trigger Style */
.combo-box:hover {  /* Style When mouse pass hover the ComboBox */
    -fx-background-color: -light-grey;
    -fx-border-color: -cyan;
}

.combo-box .list-cell { /* Style for singular cell of ComboBox */
    -fx-font-size: 14px;
    -fx-padding: 6px;
    -fx-background-color: white; 
}

.combo-box .list-cell:hover { /* Style when mouse pass hover the ComboBox cell */
    -fx-background-color: -light-grey;
    -fx-text-fill: black;
}

.combo-box-popup .list-view { /* Style of the section that open up when there is click on ComboBox */
    -fx-background-color: white;
    -fx-padding: 4;
    -fx-border-color: -grey;
}

.combo-box .arrow { /* Style of the selection arrow */
    -fx-background-color: black;       
    -fx-padding: 0.3em;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";  
}

.combo-box .arrow-button { /* Style of the section around the arrow */
    -fx-background-color: -grey;
    -fx-background-radius: 0 6 6 0;
}

.combo-box .arrow-button:hover { /* Style of the section around the arrow when mouse pass hover */
    -fx-background-color: -grey;
}

.spinner { /* Style of the structure of the Spinner */ 
    -fx-background-color: white;
    -fx-border-color: -cyan;
    -fx-border-width: 1.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 0;
}

.spinner .text-field { /* Style of the number field */
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-padding: 8;
    -fx-alignment: center;
    -fx-text-fill: black;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {  /* Style of the arrows */
    -fx-background-color: transparent;
    -fx-padding: 6;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover { /* Style of the space arounde arrows when mouse pass hover */
    -fx-background-color: white;
    -fx-background-radius: 0 8 0 0, 0 0 8 0;
}

.spinner .increment-arrow,
.spinner .decrement-arrow { /* color of arrows */
    -fx-background-color: black;
}
/* END TRIGGER STYLE */

.rule-creation-container {
    -fx-spacing: 20px;
}


/* ----- PLAY AUDIO ----- */

.standard-button {
    -fx-font-size: 13px;
    -fx-padding: 5px 10px 5PX 10PX;
    -fx-background-color: white;
    -fx-border-color: -grey; 
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.standard-button:hover {
    -fx-background-color: -light-grey;
}